name: Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: sudo apt-get install xvfb
      - run: yarn config set network-timeout 600000 -g
      - run: yarn
      - run: yarn lint
      - run: yarn compile
      - run: yarn test
      - run: xvfb-run --auto-servernum --server-args='-screen 0, 1600x900x24' yarn wdio

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18

      - run: sudo apt-get update && sudo apt-get install libudev-dev libusb-1.0-0-dev
        if: runner.os == 'Linux'

      - run: brew install python-setuptools
        if: runner.os == 'macOS'

      - run: yarn config set network-timeout 600000 -g
      - run: yarn
      - run: yarn compile

      - run: yarn build --publish never
        env:
          CSC_LINK: ${{ secrets.OSX_CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.OSX_CSC_KEY_PASSWORD }}
        if: runner.os == 'macOS'

      - run: yarn build-win32-x64 --publish never
        env:
          CSC_LINK: ${{ secrets.WIN_CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.WIN_CSC_KEY_PASSWORD }}
        if: runner.os == 'Windows'

      - run: yarn build --publish never
        if: runner.os == 'Linux'

      - uses: actions/upload-artifact@v2
        with:
          name: CeloTerminal-BIN
          path: |
            dist/*-mac*.dmg
            dist/*-linux*.AppImage
            dist/*-win*.exe
