name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: sudo apt-get install xvfb
      - run: yarn config set network-timeout 600000 -g
      - run: yarn
      - run: yarn lint
      - run: yarn test
      - run: yarn compile
      - run: xvfb-run --auto-servernum --server-args='-screen 0, 1600x900x24' yarn test:spectron-all
