name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: yarn config set network-timeout 600000 -g
      - run: yarn
      - run: yarn lint
      - run: yarn test
      - run: yarn compile
      - run: yarn test:spectron-all
